<div class="footer-container espacamento-proporcional-horizontal verde hide-on-large-only">
  <div class="footer-container__menu">
    <a href="#" data-target="mobile-sciammarella" class="sidenav-trigger"><i class="material-icons branco-texto">menu</i></a>
  </div>
  <div class="footer-container__menu">
    <a routerLink="/pedido"><i class="material-icons branco-texto">event_available</i></a>
  </div>
  <div class="footer-container__menu">
    <a routerLink="/sobre"><i class="material-icons branco-texto">settings</i></a>
  </div>