<nav class="hide-on-med-and-down verde">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right ">
      <li><a routerLink="/menu" class="uppercase">Menu</a></li>
      <li><a routerLink="/pedido" class="uppercase">Pedidos</a></li>
      <li><a href="#" class="uppercase">Fotos</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-sciammarella">
  <li class="logo"><img src="assets/icons/icon-192x192.png" alt="Sciammarella Dolci & Torte"></li>
  <li><a routerLink="/menu" class="uppercase">Menu</a></li>
  <li><a routerLink="/pedido" class="uppercase">Pedidos</a></li>
  <li><a href="#" class="uppercase">Fotos</a></li>
</ul>