<div class="c-orcamento">
  <div class="c-orcamento__header cinza-claro">
    <h4 class="c-orcamento__titulo uppercase center-align">Orçamento</h4>
    <p class="c-orcamento__texto center-align">Peça seu orçamento sem custo</p>
  </div>

  <form class="col s12 container">
    <div class="row">
      <div class="input-field col s12">
        <input id="nome" type="text" class="validate">
        <label for="nome">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">E-mail</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="telefone" type="tel" class="validate">
        <label for="telefone">Telefone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <div>
            <label>
              <input type="checkbox" />
              <span>Bolo Decorado</span>
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" />
              <span>Doces Gourmet</span>
            </label>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="obs" class="materialize-textarea"></textarea>
        <label for="obs">Observações</label>
      </div>
    </div>
    <div class="c-orcamento__botoes-box">
      <a class="waves-effect waves-light btn uppercase verde">Pedir orçamento</a>
      <a routerLink="/home" class="waves-effect waves-light btn uppercase verde">Voltar</a>
    </div>
  </form>
</div>