<div class="c-menu">
  <div class="c-menu__header cinza-claro">
    <h4 class="c-menu__titulo uppercase center-align">Menu</h4>
    <p class="c-menu__texto center-align">Escolha uma de nossas delícias</p>
  </div>
  <ul class="collection">
    <li class="collection-item avatar collection__bolos">
        <i class="flaticon-cake circle verde"></i>
      <span class="title uppercase">Bolos</span>
      <p></p>
      <a href="#!" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar collection__bolos-decorados">
      <i class="flaticon-wedding-cake circle verde"></i>
      <span class="title uppercase">Bolos Decorados</span>
      <p></p>
      <a href="#!" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar collection__doces">
      <i class="flaticon-cup-cake circle verde"></i>
      <span class="title uppercase">Doces</span>
      <p></p>
      <a href="#!" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
    <li class="collection-item avatar collection__cupcakes">
      <i class="flaticon-cupcake circle verde"></i>
      <span class="title uppercase">Cupcakes</span>
      <p></p>
      <a href="#!" class="secondary-content"><i class="material-icons">chevron_right</i></a>
    </li>
  </ul>
</div>
