@import 'assets/sass/variables'
@import 'assets/sass/colors'

.pw-main
    min-height: calc(100vh - 50px)
.pw-footer
    width: 100%
    height: 50px
    background-color: #f00
body
    margin: 0
.espacamento-proporcional-horizontal
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    height: 50px
.footer-container__menu
    width: 50px
.uppercase
    text-transform: uppercase
.home, .sobre
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 80vh
.cta__home
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    flex-wrap: wrap
.btn__margin
    margin: 20px